.bdsft-webrtc
  .cell.cell-muteAudio.classes
    .icon.fadeable.mute
      a.icon-muteAudio(href='', title='Mute Audio')
    .icon.fadeable.unmute
      a.icon-unmuteAudio(href='', title='Unmute Audio')
