.bdsft-webrtc
  .cell-muteAudio
    &.enableMute:not(.muted).started .mute,
    &.enableMute.muted.started .unmute
      {fadeIn}

    &:not(.enableMute) .mute,
    &:not(.enableMute) .unmute,
    &.enableMute:not(.started) .mute, 
    &.enableMute:not(.started) .unmute,
    &.enableMute.muted.started .mute, 
    &.enableMute:not(.muted).started .unmute
      {fadeOut}  

    &:not(.enableMute)
      display none !important